@model IEnumerable<IEXTrading.Models.Company>

<h2>Symbols</h2>
<hr />

<table class="table" border="1" cellpadding="0" cellspacing="0" align="center">
    <thead>
        <tr>
            <th>
                NAME:
            </th>
            <th>
                IEXID:
            </th>
            <th>
                SYMBOL:
            </th>
            <th>
                TYPE:
            </th>
            <th>
                DATE:
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iexId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>

        </tr>
        }
        <tr>
            <td align="center">
                <a id="dbopt" asp-controller="Home" asp-action="PopulateSymbols"><img src="~/images/button_save-data.png" /></a>
            </td>
        </tr>
    </tbody>
</table>
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>
